<div class="flex items-center justify-between w-full h-[50px]">
  <div class="text-left w-[500px] h-full">
    <span class="flex flex-row gap-2 font-medium item-center text-nowrap">
      {{ displayPaginatorDetails() }}
      <mat-form-field class="w-[70px]" appearance="outline">
        <mat-select
          [value]="pageSize.toString()"
          (selectionChange)="onPageSizeChange($event.value)"
        >
          <mat-option value="10">10</mat-option>
          <mat-option value="25">25</mat-option>
          <mat-option value="50">50</mat-option>
        </mat-select>
      </mat-form-field>
      {{ displayPaginatorDetails2() }}
    </span>
  </div>
  <div class="flex items-center justify-end gap-2 mx-2">
    @if (records > 10) {
    <button
      class="flex items-center rounded-lg"
      [ngClass]="{ 'hover:bg-gray-200': pageIndex !== 1 }"
      [disabled]="pageIndex === 1"
      (click)="goToFirstPage()"
    >
      <mat-icon
        [ngClass]="{
          'text-gray-400': pageIndex === 1,
          'text-black': pageIndex !== 1
        }"
        >keyboard_double_arrow_left</mat-icon
      >
    </button>
    <button
      class="flex items-center rounded-lg"
      [ngClass]="{ 'hover:bg-gray-200': pageIndex !== 1 }"
      [disabled]="pageIndex === 1"
      (click)="previousPage()"
    >
      <mat-icon
        [ngClass]="{
          'text-gray-400': pageIndex === 1,
          'text-black': pageIndex !== 1
        }"
        >chevron_left</mat-icon
      >
    </button>

    <!-- Start Numbering -->
    <button
      *ngIf="pageIndex > 1"
      class="flex items-center rounded-lg !px-2 text-lg font-normal"
      [ngClass]="{
        'bg-primary font-bold text-rose-300': pageIndex === pageIndex - 1
      }"
      (click)="pageNumber(pageIndex - 1)"
    >
      {{ pageIndex -1 }}
    </button>
    <button
      [ngClass]="{ 'bg-primary font-bold text-rose-300': pageIndex === pageIndex }"
      class="flex items-center rounded-lg !px-2 text-lg font-normal"
      (click)="pageNumber(pageIndex)"
    >
      {{ pageIndex }}
    </button>
    <button
      *ngIf="(this.pageIndex + 1) * this.pageSize < this.records"
      class="flex items-center rounded-lg !px-2 text-lg font-normal"
      [ngClass]="{
        'bg-primary font-bold text-white': pageIndex === pageIndex + 1
      }"
      (click)="pageNumber(pageIndex + 1)"
    >
      {{ pageIndex + 1 }}
    </button>
    <!-- End Numbering -->

    <button
      class="flex items-center rounded-lg"
      (click)="nextPage()"
      [ngClass]="{ 'hover:bg-gray-200': pageIndex !== totalPageIndex }"
      [disabled]="pageIndex === totalPageIndex"
    >
      <mat-icon
        [ngClass]="{
          'text-gray-400': pageIndex === totalPageIndex,
          'text-black': pageIndex !== totalPageIndex
        }"
        >chevron_right</mat-icon
      >
    </button>
    <button
      class="flex items-center rounded-lg"
      (click)="goToLastPage()"
      [ngClass]="{ 'hover:bg-gray-200': pageIndex !== totalPageIndex }"
      [disabled]="pageIndex === totalPageIndex"
    >
      <mat-icon
        [ngClass]="{
          'text-gray-400': pageIndex === totalPageIndex,
          'text-black': pageIndex !== totalPageIndex
        }"
        >keyboard_double_arrow_right</mat-icon
      >
    </button>
    }
  </div>
</div>
