.my-class {
  background-image: url('https://img.freepik.com/premium-photo/several-white-pink-flowers-pink-background_449849-31192.jpg') !important;
  background-size: cover;
  background-position: center;
}