@font-face {
  font-family: 'Material Icons';
  src: url('../fonts/MaterialIcons-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Material Icons Outlined';
  src: url('../fonts/MaterialIconsOutlined-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Material Icons Round';
  src: url('../fonts/MaterialIconsRound-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Material Icons Sharp';
  src: url('../fonts/MaterialIconsSharp-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Material Icons Two Tone';
  src: url('../fonts/MaterialIconsTwoTone-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
